<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">Le bateau de Thibault</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="background-image: url('../../assets/images/background.png'); background-size: cover; height: 100vh;">

    <div class="container">
      <ion-img src="../../assets/images/TIG.png"></ion-img>
    <a href="tel:06.63.99.99.78">06.63.99.99.78</a>
    <a href="www.facebook/lebateaudethibaut" target="_blank">
      www.facebook/lebateaudethibaut
    </a>
  </div>
  <div class="container">
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis enim non lacinia ultricies. Vivamus libero nisl, dapibus nec ex vitae, laoreet ullamcorper purus. Etiam tincidunt, velit a rhoncus sodales, libero orci iaculis elit, quis accumsan erat justo sit amet justo. Pellentesque vel scelerisque augue. Integer eros arcu, facilisis vitae sem a, tempor vehicula eros. Maecenas dignissim eget mauris eu auctor. Phasellus pulvinar, diam at fringilla efficitur, nibh purus bibendum diam, at tempus magna eros et ligula. Maecenas placerat luctus purus et vestibulum. Cras quis libero erat. Donec in tellus ex. Curabitur scelerisque eros sit amet tempus interdum. Vestibulum nec eros neque.</p>
  </div>
</div>
</ion-content>
