<ion-header [translucent]="true">
  <div>
      <a href="/home">
        <img class="logo" src="../../assets/images/homeLogo.png"  alt="Home" srcset="">
      </a>
      <a href="/cart">
        <img class="logo" style="float: right;margin-right: 100px;" src="../../assets/images/cartLogo.png" alt="Cart" srcset="">
      </a>
  </div>
</ion-header>


<ion-content [fullscreen]="true">
  <div style="background-image: url('../../assets/images/background.png'); background-size: cover; height: 100vh;">

  </div>
</ion-content>
